<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vpapps.indiaradio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.vpapps.indiaradio.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.vpapps.indiaradio.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vpapps.indiaradio.LoginActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.vpapps.indiaradio.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity
            android:name="com.vpapps.indiaradio.RegisterActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.vpapps.indiaradio.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.vpapps.indiaradio.ProfileActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <activity
            android:name="com.vpapps.indiaradio.ProfileEditActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.vpapps.indiaradio.ReportActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <activity
            android:name="com.vpapps.indiaradio.SuggestionActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <activity android:name="com.vpapps.indiaradio.SongByCatActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <activity android:name="com.vpapps.indiaradio.SongByServerPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.SongByMyPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.SongByOfflineActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <activity android:name="com.vpapps.indiaradio.SongByOFFPlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.Add2OfflinePlaylistActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.SettingActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.DownloadActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.AboutActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity
            android:name="com.vpapps.indiaradio.OfflineMusicActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustNothing" />

        <activity android:name="com.vpapps.indiaradio.SelectSongActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing"/>

        <activity android:name="com.vpapps.indiaradio.MiniPlayer"
            android:theme="@style/Theme.MiniPlayer"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.vpapps.indiaradio.PlayerService"
            android:exported="false" />

        <service
            android:name="com.vpapps.utils.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <service
            android:name="com.vpapps.indiaradio.DownloadService"
            android:exported="false" />

        <receiver android:name="com.vpapps.utils.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>